<header class="header">
    <div class="header-photo">
        <div class="header-photo-frame"
            style="background-image: url('/images/selfie.jpg');"></div>
    </div>
    <div class="header-title">
        <h1>Tom Elliott</h1>
    </div>
</header>

<div class="about">
    <div class="about-menu">
        <ul class="menu">
            <li>Data nerd</li>
            <li>Computer geek</li>
        </ul>
    </div>

    <div class="about-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, asperiores rerum obcaecati deserunt impedit quisquam, facilis cum autem sequi molestias consequuntur natus. Adipisci perspiciatis ipsa, commodi sint maxime beatae recusandae.</p>

        <ul class="social-links">
            <li class="twitter">
                <a href="https://twitter.com/tomelliottnz">@tomelliottnz</a>
            </li>
            <li class="github">
                <a href="https://github.com/tmelliott">@tmelliott</a>
            </li>
        </ul>
    </div>
</div>
