<header class="header">
    <div class="header-photo">
        <div class="header-photo-frame"
            style="background-image: url('/images/selfie.jpg');"></div>
    </div>
    <div class="header-title">
        <h1>Tom Elliott</h1>
    </div>
</header>

<div class="about">
<!--     <div class="about-menu">
        <ul class="menu">
            <li>Data nerd</li>
            <li>Computer geek</li>
        </ul>
    </div> -->

    <div class="about-text">
        <p>
            Why, hello! I'm a statistics-loving computer-geek from Auckland, New Zealand, currently writing up a PhD thesis on estimating bus arrival,
            while also developing and maintaining iNZight.
            On this here website I present some of the things I do (or have done) in case anyone is interested, and below you'll find some of the internet places I like to hang out.
        </p>

        <div class="social-links">
            <div class="social-link twitter">
                <a href="https://twitter.com/tomelliottnz">
                    <span class="fab fa-twitter"></span>
                    tomelliottnz</a>
            </div>
            <div class="social-link github">
                <a href="https://github.com/tmelliott">
                    <span class="fab fa-github"></span>
                    tmelliott</a>
            </div>
        </div>
    </div>
</div>
