<div class="container">
    <h2>a data nerd</h2>

    <p>
        With an undergraduate degree in biological sciences, perhaps it's necessary to explain how I ended up where I am. I've always had an (unhealthy?) interest in computers, but had always treated it as a hobby, not a career path.
        However, while doing my Bachelor of Science I somehow ended up taking a stage II
        statistics paper which involved learning R. A love affair blossomed. I realised I could do something I enjoyed <emph>as a career</emph>, so here I am, studying statistics and developing statistical software.
    </p>

    <p>
        From black holes to fishing nets to buses, I've done a few (what I believe to be) interesting research projects, so here's a little information about each of them (in reverse order).
    </p>
<!-- </div>

<div class="container-fluid"> -->
    <ul class="project-list">
        <li class="project-item" id="project-phd">
            <label for="project-phd">
                <strong>Improving bus arrival time prediction</strong>
                PhD (2015&ndash;19)
            </label>
            <div class="project-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minus ex voluptas delectus velit ipsa consequatur eligendi impedit sapiente. Mollitia veritatis fugiat, ducimus itaque illum nam ad est et rem?</p>
                <p>Aut optio, numquam at saepe, non nobis cupiditate vero nisi veritatis molestias eos tenetur ullam, vel ex animi iusto quisquam labore blanditiis impedit magni quas! Quo aliquid odio illo minus.</p>
                <p>Doloremque dolores voluptatibus ullam dolorem quaerat voluptates. Eveniet suscipit quisquam cumque autem, illo officia exercitationem, molestiae magni provident ullam expedita deleniti debitis est cum optio sequi accusamus officiis repellendus, nam.</p>
                <p>Odit impedit neque, quae, blanditiis consequuntur quia, expedita suscipit iusto fugiat commodi incidunt amet beatae! Voluptatum soluta eos iure, nisi odio vitae dicta ipsa suscipit nostrum, pariatur, nemo autem rem!</p>
            </div>
        </li>
        <li class="project-item" id="project-msc">
            <label for="project-phd">
                <strong>Modelling size-selectivity of fishing gear</strong>
                MSc (2014)
            </label>
            <div class="project-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quae quia suscipit qui nulla molestias laudantium ducimus illum debitis itaque, corporis consectetur enim dolorum ad a quas perspiciatis, alias laborum.</p>
                <p>Doloribus excepturi veritatis, culpa laboriosam, quidem iure, similique vero doloremque quia cumque ipsa non modi assumenda amet officiis natus. Explicabo sint asperiores harum quis, ad quae maxime animi, dolore saepe.</p>
                <p>Nobis earum cumque itaque repellendus doloremque, explicabo cupiditate odio ullam quam ea fugiat sequi autem. Optio, dicta voluptatem modi ipsa, ducimus quae animi, praesentium est quod quas explicabo, distinctio inventore.</p>
            </div>
        </li>
        <li class="project-item" id="project-bsc">
            <label for="project-phd">
                <strong>Heirarchical reverberation mapping</strong>
                BSc Hons. (2013)
            </label>
            <div class="project-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla earum, ad pariatur dignissimos assumenda quasi consequatur enim vel rem facere explicabo, ut temporibus aspernatur. Hic, beatae ratione dolor reprehenderit nobis.</p>
                <p>Nobis omnis quis reprehenderit debitis, sapiente laudantium dignissimos quae corrupti qui consectetur! Quas quisquam culpa, incidunt dolor rerum provident voluptatem, dignissimos quos id inventore eligendi fugit optio harum minima tempore.</p>
            </div>
        </li>
    </ul>


    <h3>publications</h3>
</div> <!-- end .projects -->
