section.about
  .row.title
    h1 Tom Elliott

  .row.fill-space
    .col-2
      .image-space
        .face-image
        
      .blurb Tom is a PhD student in the Statistics department of The University of Auckland. He is usually involved in Bayesian modelling and statistical computing, which extends to his role as core designer and developer of the data analysis and visualisation software iNZight. When not at University, Tom likes to read, play computer games, and listen to music.
