// NAVIGATION BAR
.contain-to-grid
  nav(data-topbar data-options="sticky_on: [large,medium]" role="navigation").top-bar
    ul.title-area
      li.name



// HERO HEADER
section.header.uninitialised
  .row
    .small-centered
      h1#headerTitleFill
        span {{ page.title }}

      p {{ page.header_blurb }}
