section.header
  .row
    .column
      h1 Tom Elliott
      
      p Statistics PhD. Student & Part-time Statistical Software Deveoper @ The University of Auckland

.contain-to-grid.sticky.site-navigation
  nav(data-topbar data-options="sticky_on: [large,medium]" role="navigation").top-bar
    ul.title-area
      li.name
      li.toggle-topbar.menu-icon
        a(href="#"): span
    section.top-bar-section
      ul
        li: a(href="#about") About
        li: a(href="#research") Research
        li: a(href="#projects") Projects
        li: a(href="#contact") Contact
        
