include ../_jademixins/mixins

#research
  .row
    .small-12.columns
      +sectiontitle('Research')

  .row
    .small-12.medium-4.large-5.columns.research-topics
      {% for topic_hash in site.data.research %}
      {% assign topic = topic_hash[1] %}
      .topic.start-hidden.from-below(class="{{ topic.name }}" style="background-image:url(assets/img/projects/{{topic.image}})")
        .topic-meta(data-project-name="{{ topic.name }}")
          p {{ topic.project }}, #[em {{ topic.date }}]

          p.show-for-touch (touch to view)
      {% endfor %}

    .small-12.medium-8.large-7.columns.research-info
      .content.active.default
        p While studying at the University of Auckland, I have undertaken several research projects. My primary research interests are:
          ul
            li Bayesian modelling
            li Computational statistics
            li Graphics and visualisation

        p I work predominantly with #[a(href="http://cran.stat.auckland.ac.nz/" target="_blank") R], and have produced several packages (most under the banner of #[a(href="https://www.stat.auckland.ac.nz/~wild/iNZight" target="_blank") iNZight) and also began development of the package #[a(href="http://github.com/tmelliott/BSM" target="_blank") BSM] during my Masters project.

        p.show-for-small-only Click the images above for information about specific research projects I have done.
        p.hide-for-small-only Click the images to the left for information about specific research projects I have done.

      {% for topic_hash in site.data.research %}
      {% assign topic = topic_hash[1] %}
      .content(class="{{ topic.name }}")
        h5 {{ topic.title }}
        h6.subheader {{ topic.type }}
        p.smaller {{ topic.text }}
      {% endfor %}

.row: hr
