include ../_jademixins/mixins

#contact
  .row
    .small-12.small-centered.columns.email
      a(href="mailto:tom.elliott@auckland.ac.nz") tom.elliott@auckland.ac.nz

  .row
    .small-12.columns
      .address-line Department of Statistics | University of Auckland
  .row
    .small-12.columns
      .address-line Room 303S.276 | ext. 88634

  .row.social-icons
    .small-12.small-centered.columns
      a(href="http://twitter.com/tomelliott90").twitter-icon
      a(href="http://github.com/tmelliott").github-icon

