.row#about
  .small-12.columns
    h2
      pre echo #[span.accent $about_me];

    pre Error: content not yet created!

    p Hello, and thanks for visiting! However, I'm still developing something that is somewhat presentable &mdash; until then, you'll have to be patient &hellip;

.row
  hr

.row
  .small-12.columns.small-centered
    h3: a(href="mailto:tom.elliott@auckland.ac.nz") tom.elliott@auckland.ac.nz

.row.social-icons
  .small-6.small-centered.columns
    a(href="http://twitter.com/tomelliott90" target="_blank").twitter-icon
    a(href="http://github.com/tmelliott" target="_blank").github-icon
