.row#about    
  .small-12.medium-8.columns
    h2
      pre echo #[span.accent $about_me];
    
    p My name is Tom, but you can call me Tom! I am a PhD Student at The University of Auckland, studying some complicated Statistics stuff even I don't fully understand (... yet?).
    
  .small-12.medium-4.columns
    .face-image
  
.row
  hr
