include ../_jademixins/mixins

.row#contact
  //.small-12.columns
    //+sectiontitle('Contact')


  .small-12.small-centered.columns.email
    a(href="mailto:tom.elliott@auckland.ac.nz") tom.elliott@auckland.ac.nz


  .row.social-icons
    .small-12.small-centered.columns
      a(href="http://twitter.com/tomelliott90").twitter-icon
      a(href="http://github.com/tmelliott").github-icon
