include ../_jademixins/mixins

#research.uninitialised
  .row
    .small-12.columns
      +sectiontitle('Research')

  .row
    .small-12.medium-8.large-7.columns.research-info.medium-push-4.large-push-5
      .content.active.default
        p While studying at the University of Auckland, I have undertaken several research projects. My primary research interests are:
          ul
            li Bayesian modelling
            li Computational statistics
            li Graphics and visualisation

        p I work predominantly with #[a(href="http://cran.stat.auckland.ac.nz/") R], and have produced several packages (most under the banner of #[a(href="https://www.stat.auckland.ac.nz/~wild/iNZight") iNZight]) and also began development of the package #[a(href="http://github.com/tmelliott/BSM") BSM] during my Masters project.

        p.show-for-small-only Click the images below for information about specific research projects I have done.
        p.hide-for-small-only Click the images to the left for information about specific research projects I have done.

      {% for topic in site.data.research %}
      .content(class="{{ topic.name }}")
        h5 {{ topic.title }}
        h6.subheader {{ topic.type }}

        {% for para in topic.text %}
        p.smaller {{ para }}
        {% endfor %}

        {% if topic.extra %}
        {% for ex in topic.extra %}
        p.extra
          a(href="{{ ex.url }}")  {{ ex.text }}
        {% endfor %}
        {% endif %}

        {% if topic.source %}
        p.source Banner image source:
          a(href="{{ topic.sourceURL }}")  {{ topic.source }}
        {% endif %}

      {% endfor %}

    .small-12.medium-4.large-5.columns.research-topics.medium-pull-8.large-pull-7
      {% for topic in site.data.research %}
      .topic.start-hidden.from-below(class="{{ topic.name }}" style="background-image:url(assets/img/projects/{{topic.image}}); background-position: {{ topic.position }}")
        .topic-meta(data-project-name="{{ topic.name }}")
          p {{ topic.project }}, #[em {{ topic.date }}]

          //p.show-for-touch (touch to view)
      {% endfor %}





.row.publications
  .small-12.large-8.large-centered.columns
    h5 Publications

    {% for pub in site.data.publications | limit:3 %}
    a(href="{{ pub.doi }}").publication
      span.author {{ pub.author }}
      span.year  ({{ pub.year }})
      span.title  {{ pub.title }}.
      span.journal  {{ pub.journal }},
      span.pages  {{ pub.pages }}.
    {% endfor %}

  // Include the following once more than three exist ...
  //.small-12.medium-8.medium-centered.columns.see-all
    //a(href="") see all&hellip;

.row: hr
