include ../_jademixins/mixins
#about
  .row
    .small-12.medium-8.columns
      +sectiontitle('About Me')

  .row
    .small-12.medium-8.columns
      p I am (as it says above) a PhD student in the Department of Statistics at the University of Auckland. I started my studies at UoA with a BSc in Biological Sciences, intending to specialise in Marine Science. I soon discovered a passion for statistics, so I quickly converted to a double major. At the end of my undergraduate degree, I decided to continue on with my studies, completing an Honours and Masters degree in statistics.


      p Whilst completing my postgraduate studies, I also found a sort of "niche" for R programming, and managed to land myself a job working for Professor Chris Wild developing the iNZight software. iNZight is an easy-to-use data exploration and analysis tool, aimed primarily at high school students, but also <span data-tooltip aria-haspopup="true" class="has-tip" title="We have even had emails from election campaign managers!">used worldwide</span>. Over the past year or so, I have been extensively involved in many parts of iNZight, though the graphics module is my main contribution.
      
      p Outside of my university life, I enjoy reading, watching TV shows, playing computer games (badly), and haphazardly producing melodies on my piano. 

    .small-12.medium-4.columns
      .face-image

.row
  hr
