.separator {
    display: block;
    height: 150px;
    background: {
        color: gray;
        position: center 100%;
        size: cover;
        repeat: no-repeat;
    }

    border-bottom: solid 1px $color_body_copy;
    border-top: solid 1px $color_body_copy;

    @include respond-to("tablet-min") {
        height: 200px;
        background-size: 100% auto;
    }
}
