$font-size-h1: 30px

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Satisfy')
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif
$font-family-cursive: "Satisfy", cursive
$headings-font-family: "Montserrat", Arial, sans-serif


// Colours
$brand-primary: #83aac9
$brand-success: #82CFAE
$brand-info: #8F8FD2

$link-color: darken($brand-primary, 15%)
