$project-label-color: #454d58;//($color_body_copy, 0.9);

.sec-stats {
    background: #333;
    background-image: linear-gradient(#444, #333);
    padding: 1em 0;
    margin-bottom: 1000px;

    .project-list {
        list-style-type: none;
        margin: 0 0 2em;
        padding: 0;

        .project-item {
            label {
                display: block;
                padding: 0.4em 0.4em;
                margin: 0 0 0em;
                background: $project-label-color;
                color: $color-link;
                font-size: 0.9em;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    background: lighten($project-label-color, 3);
                }

                strong {
                    font-size: 1rem;
                    display: block;
                }
            }

            margin-bottom: 0.4em;
            // &:last-child {
            //     border-bottom: solid 3px $project-label-color;
            // }


            .project-body {
                display: none;
                padding: 0.4em 0.4em;
            }
        }
    }
}
