// Basic Styles
body
  background: #fff
  font-size: 14px
  line-height: 1.6
  font-family: 'Lato' sans-serif
  color: $text-color
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%



.accent
  color: $accent-color

pre
  font-family: 'Cousine' mono

.math
  font-family: Georgia, "Times New Roman", Times, serif
