$primary-color: #333
$text-color: #333
$accent-color: #0c3b5e
$bg-color: #ccc
$link-color: $accent-color
$selection-color: #FFF498

$top-bar-color: $accent-color

$sidebar-width: 150px
$content-width: 630px
$content-margin: 10px
$responsive-width: $sidebar-width + $content-width + 2 * $content-margin
