
<!-- NAVIGATION BAR-->
<div class="contain-to-grid">
  <nav data-topbar="data-topbar" data-options="sticky_on: [large,medium]" role="navigation" class="top-bar">
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul id="site-navigation" class="right">{% for nav in site.data.home.navigation %}
        <li><a href="" data-section="{{ nav.section }}">{{ nav.name }}</a></li>{% endfor %}
      </ul>
    </section>
  </nav>
</div>
<!-- HERO HEADER-->
<section class="header">
  <div class="row">
    <div class="column">
      <h1 id="headerTitleFill"><span>{{ page.title }}</span></h1>
      <p>{{ page.header_blurb }}</p>
    </div>
  </div>
</section>