
<!-- NAVIGATION BAR-->
<div class="contain-to-grid">
  <nav data-topbar="data-topbar" data-options="sticky_on: [large,medium]" role="navigation" class="top-bar">
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul id="site-navigation" class="right">
        <li><a href="" data-section="about">About</a></li>
        <li><a href="" data-section="research">Research</a></li>
        <li><a href="" data-section="projects">Projects</a></li>
        <li><a href="" data-section="contact">Contact</a></li>
      </ul>
    </section>
  </nav>
</div>
<!-- HERO HEADER-->
<section class="header">
  <div class="row">
    <div class="column">
      <h1>Tom Elliott</h1>
      <p>Statistics PhD. Student & Part-time Statistical Software Deveoper @ The University of Auckland</p>
    </div>
  </div>
</section>