
<div id="about" class="row">
  <div class="small-12 columns">
    <h2>
      <pre>echo <span class="accent">$about_me</span>;</pre>
    </h2>
    <pre>Error: content not found!</pre>
    <p>I'm still developing something that is somewhat presentable &mdash; until then, you'll have to be patient &hellip;</p>
    <pre>return false;</pre>
  </div>
</div>
<div class="row">
  <hr/>
</div>
<div class="row">
  <div class="small-12 columns small-centered">
    <h3><a href="mailto:tom.elliott@auckland.ac.nz">tom.elliott@auckland.ac.nz</a></h3>
  </div>
</div>
<div class="row social-icons">
  <div class="small-6 small-centered columns"><a href="http://twitter.com/tomelliott90" target="_blank" class="twitter-icon"></a><a href="http://github.com/tmelliott" target="_blank" class="github-icon"></a></div>
</div>