
<div id="contact">
  <div class="row">
    <div class="small-12 small-centered columns email"><a href="mailto:tom.elliott@auckland.ac.nz">tom.elliott@auckland.ac.nz</a></div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="address-line">Department of Statistics | University of Auckland</div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="address-line">Room 303S.276 | ext. 88634</div>
    </div>
  </div>
  <div class="row social-icons">
    <div class="small-12 small-centered columns"><a href="http://twitter.com/tomelliott90" class="twitter-icon"></a><a href="http://github.com/tmelliott" class="github-icon"></a></div>
  </div>
</div>
