
<div id="about" class="row">   
  <div class="small-12 medium-8 columns">
    <h2>
      <pre>echo <span class="accent">$about_me</span>;</pre>
    </h2>
    <p>My name is Tom, but you can call me &ldquo;Tom&rdquo;! I am a PhD Student at The University of Auckland, but you already knew that (because it says so above &hellip;). I have been studying at UoA since 2010 (that's like, <a href="#" data-reveal-id="questionMySanity"><code>expr $(date +%Y) - 2010</code></a> years ago!!), although I did my undergraduate BSc in Biological Sciences &mdash; for what reason, I'm not too sure. Fortunately, I discovered statistics was far more interesting, converted to a double major, and have now done an Honours and Masters degree in Statistics.</p>
    <div id="questionMySanity" data-reveal="data-reveal" aria-labelledby="questionMySanity" aria-hidden="true" role="dialog" class="reveal-modal">
      <p>This is a BASH command that you can type into a terminal window (on Linux or Mac &mdash; sorry (not sorry) Windows users) and get the result. For those of you who have no idea what that means &hellip;</p>
      <pre>$ expr(date +%Y) - 2010</pre>
      <pre class="yearsSinceStarting"></pre>
      <p>&hellip; which means I started at UoA <span class="yearsSinceStarting"></span> years ago.</p><a aria-label="Close" class="close-reveal-modal">&#215</a>
    </div>
    <p>I have also been (quite heavily) involved in the iNZightVIT project since the middle of 2012. At first, I implemented functionality for GLM's and Survey GLMS's in the model fitting module, but since then I have completely rewritten (twice) the plotting package <code>iNZightPlots</code>, and made a significant contribution to just about everything else contained within iNZightVIT (for which I apologise).</p>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="face-image"></div>
  </div>
</div>
<div class="row">
  <hr/>
</div>