
<div id="about" class="uninitialised">
  <div class="row">
    <div class="small-12 medium-8 columns">
      <h2>About Me
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <p>I am a PhD student in the wonderful Department of Statistics at the University of Auckland. By way of research, I am predominantly interested in Bayesian modeling, statistical computing, and graphics. I have also been increasingly involved with <a href="https://www.stat.auckland.ac.nz/~wild/iNZight">iNZight</a>, an easy to use data visualisation and analysis tool.</p>
      <p><b>A bit of history.</b> I started studying at UoA back in 2010, with the intension of becoming a Marine Biologist. This goal soon deteriorated, however, as I was not-so-slowly&mdash;and very much surely&mdash;converted to the dark side; I found statistics to be far more enjoyable and significantly more applied than the <i>cram-as-much-knowledge-into-their-heads-as-you-can-in-one-semester</i> approach one gets from biology. From there, without too much consideration, I completed both an Honours and Masters degree in Statistics. It would seem research is something I quite enjoy &hellip;</p>
      <p><b>Work.</b> Anyone studying statistics at UoA will soon have to learn R, a task for which my keen interest in programming and computers had me well prepared. Halfway through my Honours year, I was picked up by <a href="https://www.stat.auckland.ac.nz/~wild/">Professor Chris Wild</a> to join the iNZight development team. Little did I know at the time that I would soon be the main entity responsible for almost every aspect of the program: R packages, GUI, repositories, installation scripts, website, docker containers &hellip; the list goes on! We now have a <span class="image-tooltip"><span class="image-tooltop-label">global following</span><span class="image-tooltip-image"></span></span>, thanks mostly to the <a href="https://www.futurelearn.com/courses/data-to-insight/">Data to Insight MOOC</a>.</p>
      <p><b>Other.</b> When I'm not at univerisity (or working from home) I quite enjoy <b>reading</b>, watching <b>TV shows</b> (they're so much better than movies), playing <b>computer games</b> (Star Wars Battlefront has just been released &hellip;), and occasionally playing <b>piano</b> (Chopin, Liszt, &hellip;) with a glass of red wine near at hand.</p>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="face-image"></div>
    </div>
  </div>
  <div class="row">
    <hr/>
  </div>
</div>