section
    padding: 5em 0
    min-height: 100vh


h1, h2
    margin-bottom: 2em
    padding: 0 0 5px
    text-align: center
    color: $brand-primary-lighter
    border-bottom: solid 1px $brand-primary-lighter

a
    border-bottom: dotted 1px $link-color

    &:hover
        text-decoration: none
        border-bottom-style: solid
