.header
  background:
    image: url(/assets/img/bg-about.png)
    size: cover
    position: center

  text-align: center

  h1
    +hide-text
    height: 6rem
    background:
      image: url(/assets/img/text-tomelliott.svg)
      position: center
      repeat: no-repeat
      size: contain
    margin: 2rem 0

  p
    color: white
