.header
  background:
    image: url(../img/bg-about.png)
    size: cover
    position: center

  text-align: center
  margin-bottom: 20px

  h1
    //+hide-text
    height: 5rem
    width: 100%
    //background:
      image: url(../img/text-tomelliott.svg)
      position: center
      repeat: no-repeat
      size: contain
    margin: 3rem 0
    font:
      family: $header-font-family, serif
      //size: 4rem
    color: white
    line-height: 1

    //@media (max-width: $small-breakpoint)
      font-size: 3rem

  p
    color: white
    font-family: $blurb-font-family
