#about
  padding: 20px 0

  .face-image
    background:
      image: url(../img/about-face.gif)
      size: cover
    border-radius: 50%
    width: 80%
    margin: 0 auto

    @media screen and (max-width: $small-breakpoint)
      width: 50%


    &:before
      content: ''
      padding-top: 100%
      display: block


h3
  margin: 10px auto 20px
  text-align: center

.social-icons
  text-align: center
  .twitter-icon,
  .github-icon
    display: inline-block
    width: 50px
    height: 50px
    margin: 0 10px

  .twitter-icon
    background-image: url(../img/logo-twitter.svg)

  .github-icon
    background-image: url(../img/logo-github.svg)
