.home-wrap
  display: flex
  height: 100vh
  min-height: 100vh

  @media (max-width: $responsive-width)
    display: block

  .home-sections
    flex: 1

    section
      padding-left: $sidebar-width

      @media (max-width: $responsive-width)
        padding-left: 0

// columns
.row
  max-width: 650px
  margin: 0 auto
  padding: 0 5px
  display: flex
  flex-direction: row
  justify-content: space-between

  @media (max-width: 650px)
    display: block

  .col-1
    margin: 5px

  .col-2
    margin: 5px
